---
layout: default
---
{% for post in paginator.posts %}
    	<article class="noImage">
	<div class="post-info">
		<header class="subheader">
			<time datetime='{{ post.time | date:"%b %d,%Y" }}' class="post-date">{{ post.date | date:"%b %d,%Y"}}</time>
		</header>
		<h3 class='post-title'>
			{% if post.link %}
			<a href='{{ post.link }}'>
            {% else %}
            <a href='{{ post.url | prepend: site.baseurl }}'>
            {% endif %}
			{{ post.title }}
		    </a>
		</h3>
		<section class="post-excerpt">
			{% if page.description %} 
			{{ page.description }}
			{% else %}
			{{ page.content ||split:'<!-- more -->' | first | strip_html }}
			{% endif %} 
		</section>
	</div>
</article>
{% endfor %}
</div>


<nav class='pagination container'>
  <div class='page-links'>

    {% if paginator.previous_page %}
    <a class='page-link prev' href='{{ paginator.previous_page_path }}'>
      Prev
    </a>
    {% if paginator.page == 2 %}
    {% else %}
    <a class='page-link' href='/'>1</a>
    {% endif %}
    <a class='page-link' href='{{ paginator.previous_page_path }}'>{{ paginator.previous_page }}</a>
    {% if paginator.page == paginator.total_pages %}
    <span class='page-link dots'>…</span>
    {% else %}
    {% endif %}
    {% else %}
    {% endif %}
      
      
      <span class='page-link current'>{{ paginator.page }}</span>
      
      {% assign lastpage = paginator.total_pages | minus: 2 %}
      {% assign last1page = paginator.total_pages | minus: 1 %}
      {% if paginator.next_page %}
      <a class='page-link' href='{{ paginator.next_page_path }}'>{{ paginator.next_page }}</a>
      {% if paginator.page >= lastpage %}
      {% if paginator.page == last1page %}
      {% else %}
      <a class='page-link' href='{{ site.url }}{{ site.baseurl }}/page{{ paginator.total_pages }}'>{{ paginator.total_pages }}</a>
      {% endif %}
      {% else %}
      <span class='page-link dots'>…</span>
      <a class='page-link' href='{{ site.url }}{{ site.baseurl }}/page{{ paginator.total_pages }}'>{{ paginator.total_pages }}</a>
      {% endif %}
    <a class='page-link next' href='{{ paginator.next_page_path }}'>
        Next
    </a>
      {% else %}
      {% endif %}
    
    

  </div>
</nav>





</div> 
