---
layout: default
---
{% for post in paginator.posts %}
        {% if page.img %}    
    	<article class="hasImage">
	<div class="post-info">
		<header class="subheader">
			<time datetime='{{ post.date | date_to_xmlschema }}' class="post-date">{{ post.date | date:"%b %d,%Y"}}</time>
		</header>
		<h3 class='post-title'>
			{% if post.link %}
			<a href='{{ post.link }}'>
            {% else %}
            <a href='{{ post.url | prepend: site.baseurl }}'>
            {% endif %}
			{{ post.title }}
		    </a>
		</h3>
		<section class="post-excerpt">
			{% if post.description %} 
			{{ post.description }}
			{% else %}
			{{ post.content ||split:'<!-- more -->' | first }}
			{% endif %} 
		</section>
	</div><img data-original="{{ page.img }}" class="post-image">
	
</article>
    {% else %}

    	<article class="noImage">
	<div class="post-info">
		<header class="subheader">
			<time datetime='{{ site.time | date_to_xmlschema }}' class="post-date">{{ page.date | date:"%b %d,%Y"}}</time>
		</header>
		<h3 class='post-title'>
			{% if post.link %}
			<a href='{{ post.link }}'>
            {% else %}
            <a href='{{ post.url | prepend: site.baseurl }}'>
            {% endif %}
			{{ post.title }}
		    </a>
		</h3>
		<section class="post-excerpt">
			{% if post.description %} 
			{{ post.description }}
			{% else %}
			{{ post.content ||split:'<!-- more -->' | first }}
			{% endif %} 
		</section>
	</div>
</article>
    {% endif %} 
{% endfor %}
</div>


<nav class='pagination container'>
  <div class='page-links'>

    {% if paginator.previous_page %}
    <a class='page-link prev' href='{{ paginator.previous_page_path | prepend: site.baseurl }}'>
      Prev
    </a>
    {% else %}
    {% endif %}
    {% if paginator.next_page %}
    <a class='page-link next' href='{{ paginator.next_page_path | prepend: site.baseurl }}'>
        Next
    </a>
    {% else %}
    {% endif %}
    

  </div>
</nav>




</div> 
