
<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta name='description' content="{% if page.description %} {{ page.description }}{% else %}{{ page.content ||split:'<!-- more -->' | first }}{% endif %} 

">

	<base href='{{ site.url }}{{ site.baseurl }}'>
	<title>{{ page.title }} - {{ site.name }}</title>
	<link rel='canonical' href='{{ page.url | prepend: site.baseurl }}'>
	<link href='' rel='alternate' type='application/rss+xml' title='{{ page.title }}' />

	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

	<link rel='stylesheet' href='/css/style.css' />
	

	<meta property='og:title' content='{{ page.title }} - {{ site.name }}'>
<meta property='og:description' content="{% if page.description %} {{ page.description }}{% else %}{{ page.content ||split:'<!-- more -->' | first }}{% endif %} ">
<meta property='og:url' content='{{ page.url | prepend: site.baseurl }}'>
<meta property='og:site_name' content='{{ site.name }}'>
<meta property='og:type' content='article'>{% if page.img %}<meta property='og:image' content='{{ page.img }}'>{% else %}{% endif %}<meta property='article:section' content='Post'><meta property='article:published_time' content='{{ page.date | date_to_xmlschema }}'/><meta property='article:modified_time' content='{{ page.date | date_to_xmlschema }}'/>

</head>

<body class='page'>
	<div id="navbar">
		<span class="site-title"><a href="/">{{ site.name }}</a></span>
		<button id="toggleMenu">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div>
	<nav id='menu'>
		<div class="container">
			<ul>
				
					<li>
						<a href='/' class=''>首页</a>
					</li>
				
					<li>
						<a href='/about/' class=''>关于</a>
					</li>
				
					<li>
						<a href='/archive/' class=''>归档</a>
					</li>
				
			</ul>
		</div>
	</nav>


	<div id="main">

<main class="post-layout">
	
		
		
			{% if page.img %}
			<div class="post-image" style="background-image: url({{ page.img }}"></div>
			{% else %}
			{% endif %}
		
	
	<article class='container'>
		<header class="post-header">
			<div class="post-info">
				<div class="meta">
					<time datetime='{{ page.date | date_to_xmlschema }}' class="post-date">{{ page.date | date:"%b %d,%Y"}}</time>
						
					
				</div>
				<h1 class='post-title'>{{ page.title }}</h1>
				
			</div>
		</header>
		<section class="post-content">
{{ content }}
		</section>

		<footer class="post-footer">
		</footer>
	</article>
			<aside class="read-more container">
			<h1>Read More</h1>
				{% if page.previous.url %}
				<article class="noImage">
	<div class="post-info">
		<header class="subheader">
			<time datetime='{{ page.previous.date | date_to_xmlschema }}' class="post-date">{{ page.previous.date | date:"%b %d,%Y" }}</time>
			
		</header>
		<h3 class='post-title'>
			<a href='{{ page.previous.title }}'>{{ page.previous.title }}</a>
		</h3>
		<section class="post-excerpt">
			{% if page.previous.description %} 
			{{ page.previous.description }}
			{% else %}
			{{ page.previous.content ||split:'<!-- more -->' | first }}
			{% endif %} 
		</section>
	</div>
  {% endif %}	
</article>
{% if page.next.url %}
				<article class="noImage">
	<div class="post-info">
		<header class="subheader">
			<time datetime='{{ page.next.date | date_to_xmlschema }}' class="post-date">{{ page.next.date | date:"%b %d,%Y" }}</time>
			
		</header>
		<h3 class='post-title'>
			<a href='{{ page.next.url }}'>{{ page.next.title }}</a>
		</h3>
		<section class="post-excerpt">
			{% if page.next.description %} 
			{{ page.next.description }}
			{% else %}
			{{ page.next.content ||split:'<!-- more -->' | first }}
			{% endif %} 
		</section>
	</div>
  {% endif %}	
</article></aside>	

</main>
</div> 

{% include footer.html %}

</body>
</html>
